/* =Footer
----------------------------------------------- */

.site-info {
	@include font-size-16;
	margin: 0;
	width: 100%;
	border-top: .0625em inset $black-secondary;
	background-color: $primary;
	background-image: $background-site-info;
	background-repeat: repeat;
	color: $white;
	text-align: center;
	text-shadow: $black-text-shadow;
}