/* =Genericons
----------------------------------------------- */

.entry-date::before,
.byline::before,
.comment-meta a time::before,
.nav-previous::before,
.nav-next::after,
.comment-reply-link::after,
.entry-meta .cat-links::after,
.entry-meta .tags-links::after,
.entry-meta .comments-link::after,
.post-edit-link::after,
.entry-meta .bookmark-permalink::after,
.search-results .entry-title::before,
.entry-content .more-link::after,
.category-sticky .entry-meta .cat-links::after,
.author .site-main li::before,
.widget_archive li::before,
.widget_categories li::before,
.widget_meta li::before,
.widget_pages li::before,
.widget_recent_entries li::before,
.widget_recent_comments li::before,
.rss-date::before,
.widget_rss li::before {
	@include genericon-primary;
	color: $icon-primary;
}

.widget_rss li::before {
	padding-right: .25em;
	color: $silver;
	content: "\f413";
}

.rss-date::before {
	margin-left: .25em;
	padding-right: .25em;
	content: "\f307";
}

.widget_recent_comments li::before {
	padding-right: .25em;
	content: "\f300";
}

.widget_recent_entries li::before {
	padding-right: .25em;
	content: "\f456";
}

.widget_pages li::before {
	padding-right: .25em;
	content: "\f443";
}

.widget_meta li::before {
	padding-right: .25em;
	content: "\f427";
}

.widget_categories li::before {
	padding-right: .25em;
	content: "\f301";
}

.widget_archive li::before {
	padding-right: .25em;
	content: "\f307";
}

.author .site-main li::before {
	font: normal 2em/1 'Genericons';
	content: "\f425";
}

.entry-date::before {
	margin-left: .5em;
	padding-right: .25em;
	content: "\f307";
}

.byline::before {
	margin-left: .5em;
	content: "\f304";
}

.comment-meta a time::before {
	content: "\f303";
}

.nav-previous .meta-nav {
	display: none;
}

.nav-previous::before {
	content: "\f430";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

.nav-next .meta-nav {
	display: none;
}

.nav-next::after {
	content: "\f429";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

.comment-reply-link::after {
	padding-left: .25em;
	content: "\f412";
}

.entry-meta .cat-links::after {
	margin-right: .5em;
	content: "\f301";
}

.entry-meta .tags-links::after {
	margin-right: .5em;
	content: "\f302";
}

.entry-meta .comments-link::after {
	margin-right: .5em;
	padding-left: .25em;
	content: "\f300";
}

.post-edit-link::after {
	padding-left: .25em;
	content: "\f411";
}

.entry-meta .bookmark-permalink::after {
	margin-right: .5em;
	padding-left: .25em;
	content: "\f444";
}

.search-results .entry-title::before {
	margin: 0 .5em;
	text-shadow: $white-secondary.1em .1em .2em;
	content: "\f400";
}

.entry-content .more-link::after {
	content: "\f429";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

.category-sticky .entry-meta .cat-links::after {
	content: "\f308";
}

// Post Formats - Categories - icons in the meta
.format-standard .entry-meta .cat-links::after,
.format-video .entry-meta .cat-links::after,
.format-audio .entry-meta .cat-links::after,
.format-image .entry-meta .cat-links::after,
.format-quote .entry-meta .cat-links::after,
.format-gallery .entry-meta .cat-links::after,
.format-aside .entry-meta .cat-links::after,
.format-link .entry-meta .cat-links::after,
.format-status .entry-meta .cat-links::after,
.format-chat .entry-meta .cat-links::after {
	@include genericon-primary;
	color: $icon-primary;
}

.format-standard .entry-meta .cat-links::after {
	content: "\f301";
}

.format-video .entry-meta .cat-links::after {
	content: "\f104";
}

.format-audio .entry-meta .cat-links::after {
	content: "\f109";
}

.format-image .entry-meta .cat-links::after {
	content: "\f102";
}

.format-quote .entry-meta .cat-links::after {
	content: "\f106";
}

.format-gallery .entry-meta .cat-links::after {
	content: "\f103";
}

.format-aside .entry-meta .cat-links::after {
	content: "\f425";
}

.format-link .entry-meta .cat-links::after {
	content: "\f107";
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.format-status .entry-meta .cat-links::after {
	content: "\f455";
}

.format-chat .entry-meta .cat-links::after {
	content: "\f108";
}

// Post Formats - Individual Posts - Icons in the posts
.format-link .entry-content p a::after,
.format-status .entry-content p:first-child::after,
.format-aside .entry-content p:first-child::before,
.format-audio .entry-content p a::after,
.format-video .entry-content p a::after {
@include genericon-primary;
color: $icon-primary;
}

.format-video .entry-content p a::after{
	content: "\f104";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

.format-audio .entry-content p a::after{
	content: "\f109";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

.format-link .entry-content p a::after {
	content: "\f107";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.format-status .entry-content p:first-child::after {
	padding-left: .1875em;
	content: "\f455";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

.format-aside .entry-content p:first-child::before {
	content: "\f425";
	text-shadow: $icon-primary 0 0 .2em;
	font: normal 2em/1 'Genericons';
}

// Social icons for categories - these categories must be created by the user.
// For example, create a category called "Twitter"
.category-github .entry-meta .cat-links::after,
.category-dribbble .entry-meta .cat-links::after,
.category-twitter .entry-meta .cat-links::after,
.category-facebook .entry-meta .cat-links::after,
.category-wordpress .entry-meta .cat-links::after,
.category-google-plus .entry-meta .cat-links::after,
.category-linkedin .entry-meta .cat-links::after,
.category-pinterest .entry-meta .cat-links::after,
.category-flickr .entry-meta .cat-links::after,
.category-vimeo .entry-meta .cat-links::after,
.category-youtube .entry-meta .cat-links::after,
.category-tumblr .entry-meta .cat-links::after,
.category-instagram .entry-meta .cat-links::after,
.category-codepen .entry-meta .cat-links::after,
.category-polldaddy .entry-meta .cat-links::after,
.category-skype .entry-meta .cat-links::after,
.category-reddit .entry-meta .cat-links::after,
.category-stumbleupon .entry-meta .cat-links::after,
.category-dropbox .entry-meta .cat-links::after,
.category-portfolio .entry-meta .cat-links::after {
	@include genericon-primary;
	color: $icon-primary;
}
.category-github .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f200';
}

.category-dribbble .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f201';
}

.category-twitter .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f202';
}

.category-facebook .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f203';
}

.category-wordpress .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f205';
}

.category-google-plus .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f218';
}

.category-linkedin .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f207';
}

.category-pinterest .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f209';
}

.category-flickr .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f211';
}

.category-vimeo .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f212';
}

.category-youtube .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f213';
}

.category-tumblr .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f214';
}

.category-instagram .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f215';
}

.category-codepen .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f216';
}

.category-polldaddy .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f217';
}

.category-skype .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f220';
}

.category-reddit .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f222';
}

.category-stumbleupon .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f223';
}

.category-dropbox .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f225';
}

.category-portfolio .entry-meta .cat-links::after {
	margin-right: .5em;
	content: '\f460';
}