/* =Globals
----------------------------------------------- */

html {
	overflow-y: scroll;
	font-family: sans-serif;
}

html body {
	height: 100%;
}

/* Selection */
::-moz-selection {
	background: $white-secondary;
	color: $black-secondary;
	text-shadow: none;
}
::selection {
	background: $white-secondary;
	color: $black-secondary;
	text-shadow: none;
}

body {
	margin: 0; padding: 0;
	background-color: $black-secondary;
	background-image: $background-body;
	background-repeat: repeat;
	color: $white-secondary;
	font-size: $base-font-size;
	font-family: $font-sans-serif;
	line-height: $base-line-height;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	text-shadow: $black-text-shadow;
	font-weight: 700;
	font-family: $font-serif;
}

@include h1;
@include h2;
@include h3;
@include h4;
@include h5;
@include h6;

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: $white-secondary;
	text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: $white-secondary;
	text-decoration: none;
}

/* Titles
----------------------------------------------- */

.entry-title,
.page-title,
.widget-title,
#reply-title,
.comments-title {
	@include font-size-20;
	@include hyphens-none;
	color: $white-secondary;
	word-wrap: break-word;
}

#reply-title {
	color: $white-secondary;
}

.site-title {
	@include font-size-42;
	@include hyphens-none;
	color: $white-secondary;
	word-wrap: break-word;
}

.site-description {
	@include font-size-26;
	@include hyphens-auto;
	color: $white-secondary;
	word-wrap: break-word;
}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: .0625em;
	border: 0;
	border-top: .0625em solid hsla(0, 0, 80%, 1.0);
}

/* Text Elements */
p {
	@include font-size-16;
	font-weight: 300;
	font-family: $font-sans-serif;
}

strong,
b {
	font-weight: bold;
}

ul,
ol {
	@include font-size-16;
}

ul {
	list-style: none;
}

ol {
	list-style: none;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 600;
}

dd {
	margin: 0 1.5em 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	@include hyphens-none;
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
}

blockquote {
	@include font-size-20;
	color: $silver;
	font-weight: 300;
	font-style: italic;
}

blockquote cite,
blockquote small {
	@include font-size-16;
	color: $secondary;
	font-weight: 400;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: bold;
}

address {
	margin: 0 0 1.5em;
}

pre {
	@include font-size-16;
	@include border-radius(.9375em);
	@include background-clip;
	@include box-sizing(border-box);
	@include hyphens-none;
	@include wrap;
	overflow: auto;
	margin: 0;
	padding: 1.5em;
	max-width: 100%;
	border: .125em solid $black-secondary;
	background: $white-secondary;
	color: $black-secondary;
	font-family: $font-mono;
}

code,
kbd,
tt,
var,
samp {
	@include font-size-13;
	@include hyphens-none;
	font-family: $font-mono;
}

abbr,
acronym {
	border-bottom: .0625em dotted hsla(0, 0, 100%, 1.0);
	cursor: help;
}

ins {
	border-bottom: .0625em dotted hsla(0, 0, 100%, 1.0);
	text-decoration: none;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: 600;
}

img {
	margin: auto;
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
	@include input-primary;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include input-primary;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: $black-secondary;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: $black-secondary;
}

input[type="url"] {
	@include box-sizing(border-box);
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
	-moz-appearance: none;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
	@include input-primary;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
	border-color: $black-secondary;
}

/* Links */
a,
a:visited {
	color: $silver;
	text-decoration: none;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: $white;
	text-decoration: none;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

.entry-content p a,
.entry-content p a:visited {
	@include box-shadow(0 .5em .375em -0.375em $tertiary);
}

.entry-content p a:hover,
.entry-content p a:focus,
.entry-content p a:active {
	@include box-shadow(0 .5em .375em -0.375em $secondary);
}

#respond .logged-in-as a,
#respond .logged-in-as a:visited {
	color: $primary;
	text-decoration: none;
	text-shadow: $black-text-shadow;
}

#respond .logged-in-as a:hover,
#respond .logged-in-as a:focus,
#respond .logged-in-as a:active {
	color: $primary;
	text-decoration: none;
}

td a,
td a:visited {
	color: $highlight-link;
}

td a:hover,
td a:focus,
td a:active {
	color: $white;
}

/* Alignment */
@include alignleft;
@include alignright;
@include aligncenter;

/* Accessibility */
@include screen-reader;

/* Clearing */
.entry-content,
.content-area,
.comment-content,
.comment-list,
.site,
.site-header,
.site-content,
.site-footer,
.full-width,
.header-image,
.site-branding,
#top-navigation,
#page,
#masthead,
#site-navigation,
#below-header,
#above-main,
#content,
#primary,
#main,
#below-main,
#above-footer,
#colophon,
#footer-navigation,
.navigation-footer,
#site-doc {
	@include clearfix-micro;
}

/* Box Sizing - Border Box */
.entry-content,
.content-area,
.comment-content,
.comment-list,
.site,
.site-header,
.site-content,
.site-footer,
.full-width,
.navigation-footer,
.main-navigation,
.header-image,
.site-branding,
#top-navigation,
#page,
#masthead,
#site-navigation
#below-header,
#above-main,
#content,
#primary,
#main,
#below-main,
#sidebar-right,
#above-footer,
#colophon,
#footer-navigation,
#site-navigation,
#site-doc {
	@include box-sizing(border-box);
}

/* Structure
----------------------------------------------- */
@import "susy";
@import "breakpoint";

#page {
	@include container (75em);
	padding-right: 1em;
	padding-left: 1em;
	background: transparent;
}

@include breakpoint (59em) {
	#page {
		max-width: 75em;
	}
}

@include breakpoint (59em) {
	#masthead {}
	#below-header {}
	#content {
		@include container (12);
		@include last;
		width: 100%;
		#primary {
			@include span (7 of 12);
		}
		#sidebar-right {
			@include span (last 4 of 12);
		}
		#above-main {
			width: 100%;
		}
		#below-main {
			width: 100%;
		}
	}
}

#top-navigation {
	@include container (75em);
	padding: 0 1em 0;
}

#colophon {
	@include container (75em);
	margin-bottom: 40px;
	padding-right: 1em;
	padding-left: 1em;
}

#footer-navigation {
	@include container (75em);
	padding: .5em 1em .5em;
}

#site-doc {
	@include container (100%);
	padding: .5em 1em .5em;
}

/* Full-Width */
@include breakpoint (59em) {
	.full-width #content #primary {
		@include container (100%);
		width: 100%;
	}
}

/* Full-Width Error Page*/
@include breakpoint (59em) {
	.error404 #content #primary {
		@include container (100%);
		width: 100%;
	}
}
// Note: .error404 is generated by WordPress and .error-404 is add to the 404.php file.

/* Site Header
----------------------------------------------- */

.header-image {
	margin: 1em 0 2em;
}

.site-branding {
	margin-bottom: 1.5em;
}
